.App {
  text-align: center;
}
.Simple-diagram {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tree-container {
  border: darkgray solid 1px;
  height: 100%;
  width: 100%;
}

.add-node {
}

.add-node-btn {
  padding: 0.5em;
  width: 7em;
  background-color: #316bfd;
  border-radius: 0.3em;
  margin-right: 2em;
}

.title-input {
  padding: 0.5em;
}

.node {
  border: crimson solid 0.1em;
  border-radius: 0.3em;
  padding: 0.6em;
}

.controller-name {
  color: darkblue;
}

.header-node {
  display: flex;
  justify-content: space-between;
}