.App {
  text-align: center;
}

.frame {
  display: flex;
}

.list-of-root {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.root {
  text-align: center;
  border: black solid 0.2em;
  border-radius: 0.3em;
  padding: 1em 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.Simple-diagram {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.tree-container {
  border: darkgray solid 1px;
  height: 100%;
  width: 100%;
}

.add-node-btn {
  padding: 0.5em;
  color: white;
  background-color: #3b92fd;
  border-radius: 0.3em;
  border: none;
  box-shadow: 0.1em 0.3em 10px gray;
  margin-right: 2em;
}

.add-node-btn:active {
  box-shadow: none;
  border: none;
}

.title-input {
  padding: 0.5em;
}

.node {
  border: crimson solid 0.1em;
  border-radius: 0.3em;
  padding: 0.6em;
  background-color: #ffffff;
}

.controller-name {
  color: darkblue;
}

.header-node {
  display: flex;
  justify-content: space-between;
}

.new-node {
  border: #146edc solid 0.1em;
  border-radius: 0.3em;
  padding: 0.6em;
  background-color: #9cbdff;
}

.submit-btn {
  padding: 0.5em 2em;
  background-color: #4CAF50;
  border-radius: 0.3em;
  border: none;
  margin-right: 2em;
}
